.nav-bar {
	height: 3%;
	width: 100%;

	background-color: #232f46;

	.nav-container {
		height: 100%;
		width: 100%;

		display: flex;

		.nav-home,
		.nav-about,
		.nav-posts,
		.nav-sign {
			flex: 1;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;

			.nav-icons {
				color: #c3cbd1;

				cursor: pointer;
			}
		}

		.nav-home,
		.nav-about,
		.nav-posts,
		.nav-sign {
			:link {
				color: #c3cbd1;
			}
			:visited {
				color: #c3cbd1;
			}
			:hover {
				color: white;
			}
			:active {
				color: white;
			}
		}

		.nav-home {
		}

		.nav-about {
		}

		.nav-posts {
		}

		.nav-sign {
		}
	}
}
